In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
data_feb = pd.read_excel('Mplus Claim FEB-2018.xlsx')
data_mar = pd.read_excel('Mplus Claim MAR-18.xlsx')
data_jan = pd.read_excel('Claims JAN-2018.xlsx')
data_dec = pd.read_excel('Claim DEC-2017.xlsx')
data_nov = pd.read_excel('Claims NOV-2017.xlsx')
data_oct = pd.read_excel('claims OCT-2017.xlsx')

In [5]:
df = data_feb[['PartID', 'SubPartID','PartTypeID', 'ModelID', 'EstimatePartRate', 'EstimateRRAmt', 'EstimateDentingAmt', 'EstimatePaintingAmt', 'GarageID', 'GarageStateID', 'GarageCityID', 'ClaimRefNo']]

In [7]:
dm = data_mar[['PartID', 'SubPartID','PartTypeID', 'ModelID', 'EstimatePartRate', 'EstimateRRAmt', 'EstimateDentingAmt', 'EstimatePaintingAmt', 'GarageID', 'GarageStateID', 'GarageCityID', 'ClaimRefNo']]

In [8]:
dj = data_jan[['PartID', 'SubPartID','PartTypeID', 'ModelID', 'EstimatePartRate', 'EstimateRRAmt', 'EstimateDentingAmt', 'EstimatePaintingAmt', 'GarageID', 'GarageStateID', 'GarageCityID', 'ClaimRefNo']]

In [9]:
dd = data_dec[['PartID', 'SubPartID','PartTypeID', 'ModelID', 'EstimatePartRate', 'EstimateRRAmt', 'EstimateDentingAmt', 'EstimatePaintingAmt', 'GarageID', 'GarageStateID', 'GarageCityID', 'ClaimRefNo']]

In [10]:
dn = data_nov[['PartID', 'SubPartID','PartTypeID', 'ModelID', 'EstimatePartRate', 'EstimateRRAmt', 'EstimateDentingAmt', 'EstimatePaintingAmt', 'GarageID', 'GarageStateID', 'GarageCityID', 'ClaimRefNo']]

In [11]:
do = data_oct[['PartID', 'SubPartID','PartTypeID', 'ModelID', 'EstimatePartRate', 'EstimateRRAmt', 'EstimateDentingAmt', 'EstimatePaintingAmt', 'GarageID', 'GarageStateID', 'GarageCityID', 'ClaimRefNo']]

In [12]:
data = df.append(dm).append(dj).append(dd).append(dn).append(do)

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1310674 entries, 0 to 175556
Data columns (total 12 columns):
PartID                 1310674 non-null int64
SubPartID              1310674 non-null int64
PartTypeID             1310674 non-null int64
ModelID                1308390 non-null float64
EstimatePartRate       1310459 non-null float64
EstimateRRAmt          1310459 non-null float64
EstimateDentingAmt     1310459 non-null float64
EstimatePaintingAmt    1310459 non-null float64
GarageID               1310674 non-null int64
GarageStateID          1310674 non-null int64
GarageCityID           1310674 non-null int64
ClaimRefNo             1310674 non-null int64
dtypes: float64(5), int64(7)
memory usage: 130.0 MB

In [14]:
data = data[pd.isna(data.ModelID) == False]

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1308390 entries, 0 to 175556
Data columns (total 12 columns):
PartID                 1308390 non-null int64
SubPartID              1308390 non-null int64
PartTypeID             1308390 non-null int64
ModelID                1308390 non-null float64
EstimatePartRate       1308175 non-null float64
EstimateRRAmt          1308175 non-null float64
EstimateDentingAmt     1308175 non-null float64
EstimatePaintingAmt    1308175 non-null float64
GarageID               1308390 non-null int64
GarageStateID          1308390 non-null int64
GarageCityID           1308390 non-null int64
ClaimRefNo             1308390 non-null int64
dtypes: float64(5), int64(7)
memory usage: 129.8 MB

In [16]:
data = data.fillna(data.mean())

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1308390 entries, 0 to 175556
Data columns (total 12 columns):
PartID                 1308390 non-null int64
SubPartID              1308390 non-null int64
PartTypeID             1308390 non-null int64
ModelID                1308390 non-null float64
EstimatePartRate       1308390 non-null float64
EstimateRRAmt          1308390 non-null float64
EstimateDentingAmt     1308390 non-null float64
EstimatePaintingAmt    1308390 non-null float64
GarageID               1308390 non-null int64
GarageStateID          1308390 non-null int64
GarageCityID           1308390 non-null int64
ClaimRefNo             1308390 non-null int64
dtypes: float64(5), int64(7)
memory usage: 129.8 MB

In [18]:
data.head()

,PartID,SubPartID,PartTypeID,ModelID,EstimatePartRate,EstimateRRAmt,EstimateDentingAmt,EstimatePaintingAmt,GarageID,GarageStateID,GarageCityID,ClaimRefNo
0,2,12,256,395.0,51.0,0.0,0.0,0.0,29342127,32,387522,3117177910
1,100,1617,256,180.0,60.0,0.0,0.0,0.0,71542666,18,178089,3118013934
2,80,1251,256,192.0,82.0,0.0,0.0,0.0,1876,17,540312,3118016068
3,159,2454,256,114.0,976.0,100.0,0.0,0.0,62956237,15,134902,3118024644
4,87,1360,257,114.0,4642.0,1000.0,0.0,0.0,1156,27,540843,3118025337

In [19]:
data['TotalClaimAmt'] = data.EstimateDentingAmt + data.EstimatePaintingAmt + data.EstimatePartRate + data.EstimateRRAmt

In [21]:
data.head()

,PartID,SubPartID,PartTypeID,ModelID,EstimatePartRate,EstimateRRAmt,EstimateDentingAmt,EstimatePaintingAmt,GarageID,GarageStateID,GarageCityID,ClaimRefNo,TotalClaimAmt
0,2,12,256,395.0,51.0,0.0,0.0,0.0,29342127,32,387522,3117177910,51.0
1,100,1617,256,180.0,60.0,0.0,0.0,0.0,71542666,18,178089,3118013934,60.0
2,80,1251,256,192.0,82.0,0.0,0.0,0.0,1876,17,540312,3118016068,82.0
3,159,2454,256,114.0,976.0,100.0,0.0,0.0,62956237,15,134902,3118024644,1076.0
4,87,1360,257,114.0,4642.0,1000.0,0.0,0.0,1156,27,540843,3118025337,5642.0

In [22]:
X = data[['PartID', 'SubPartID', 'PartTypeID', 'ModelID', 'GarageID', 'GarageStateID', 'GarageCityID']]

In [23]:
y = data.TotalClaimAmt

In [24]:
X.PartID = X.PartID.astype('category')
X.SubPartID = X.SubPartID.astype('category')
X.PartTypeID = X.PartTypeID.astype('category')
X.ModelID = X.ModelID.astype('category')
X.GarageID = X.GarageID.astype('category')
X.GarageStateID = X.GarageStateID.astype('category')
X.GarageCityID = X.GarageCityID.astype('category')

In [26]:
from sklearn.cross_validation import train_test_split
from sklearn.preprocessing import StandardScaler

In [27]:
 X = StandardScaler().fit_transform(X)

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1)

In [29]:
from sklearn.tree import DecisionTreeRegressor
from lightgbm import LGBMRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import BaggingRegressor

In [65]:
tree_model = DecisionTreeRegressor(criterion='mae')
lgb_model = LGBMRegressor(n_estimators=10000)
forest_model = RandomForestRegressor(n_estimators=100)
bag_model = BaggingRegressor(n_estimators=100,n_jobs= -1)

In [ ]:
tree_model.fit(X_train,y_train)
#lgb_model.fit(X_train, y_train)
#forest_model.fit(X_train, y_train)
#bag_model.fit(X_train, y_train)

In [57]:
prediction = tree_model.predict(X_test)

In [58]:
from sklearn.metrics import mean_squared_error , accuracy_score

In [59]:
mean_squared_error(y_test,prediction)

8278470159.239727

In [60]:
y_test.head(10)

263373     350.0
126250     273.0
216334    5000.0
223892    5561.0
19173      270.0
211993     240.0
142954    2163.0
134552    1002.0
2583      1500.0
139290    1067.0
Name: TotalClaimAmt, dtype: float64

In [61]:
prediction[:10]

array([2406.34615385,   56.        , 5909.25229358, 5102.76923077,
        269.5       ,  248.        , 4256.        ,  740.5       ,
       1699.89928058, 3174.        ])

In [64]:
len(y_test[((y_test - prediction) / y_test * 100) < 1]) / len(y_test)

0.573017219636347

In [42]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [57]:
def baseline_model():
    # create model
    model = Sequential()
    model.add(Dense(13, input_dim=4, kernel_initializer='normal', activation='relu'))
    model.add(Dense(12, kernel_initializer='normal'))
    model.add(Dense(12, kernel_initializer='normal'))
    model.add(Dense(1, kernel_initializer='normal'))
    # Compile model
    model.compile(loss='mean_squared_error', optimizer='adam')
    return model

In [58]:
from keras.wrappers.scikit_learn import KerasRegressor

In [59]:
estimator = KerasRegressor(build_fn=baseline_model, nb_epoch=100, batch_size=5, verbose=0)

In [60]:
estimator.fit(X_train,y_train)

In [61]:
prediction = estimator.predict(X_test)

In [62]:
prediction[:5]

array([3461.4006, 3336.866 , 4855.0103,  912.6401, 3273.0027],
      dtype=float32)

In [63]:
mean_squared_error(y_test,prediction)

372087210.3189532